.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(9, 15, 41, 0.7),rgba(4,9,30,0.7)),url(banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    text-align: right;
    flex: 1%;
/* color: black; */
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    /* color: aliceblue; */
    
}
img{
    height: 50px;
    width: 50%;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;

    }
    .course{
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top: 50px;
    }
    h1{
        font-size: 36px;
        font-weight: 600;
    }
    .p{
        color: #070000;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        padding: 10px;
    }
    .row{
        margin-top: 4%;
        display: flex;
        justify-content: space-between;
    
    }
   .campus img{
        height: 400px;
        width: 40%;
    }
    
    
    .col{
        flex-basis: 31%;
        background: #fff3f3;
        border-radius: 10px;
        margin-bottom: 5%;
        padding: 20px 15px;
        box-sizing: border-box;
        transition: 0.5s;
    }
    h3{
        text-align: center;
        font-weight: 600;
        margin: 10px 0;
    }
    .col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    }    
    footer{
        
        color: rgb(3, 7, 10);
        width: 100%;
        text-align: center;
        background-color: #fff3f3;
        /* text-decoration: none; */

    }
    footer h3 a{
        text-decoration: none;
        color: #070000;
}
ul :hover{
    box-shadow: 0 0 20px 0px rgba(239, 222, 222, 0.2);
 /* background-color: #ddcccc; */
}
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 20px;

}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    
}
.campus-col img{
    width: 100%;

}
.layer{
    /* background: rgba(146, 131, 131, 0.7); */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(209, 126, 126, 0.7);
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

 }
 
 
 .text-box h1{
    font-size: 62px;
 }
 .text-box p{
    margin: 10px 0px 40px;
    font-size: 15px;
 }
.button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    border: 1px solid #fff;
    padding: 12px 34px;
    background: transparent;
    position: relative;

}